*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #f5f5f5;
    --clr-dark: #06023f;
    --clr-accent: #b38900;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

html {
    scroll-behavior: smooth;
}


body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: bolder }

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}


/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }


/* header */

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
}

.logo {
    max-width: 100px;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}


.nav-toggle {
    margin-top: 1.4em;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
    box-shadow: 1px 1px 0.5px 0.5px rgba(0, 17, 94, 0.856);
}


.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }


/*  Intro section  */

.intro {
    position: relative;
    margin-bottom: 0;
/*     margin-top: 15rem; */
}

@media (min-width: 750px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 18rem auto 0;
        grid-column-gap: 1em;
        grid-template-areas: 
            "title img";
        grid-template-columns: min-content max-content;
    }
    
    .intro .astromurtaza {
        grid-area: img;
        min-width: 250px;
        width: 100%;
        position: relative;
        margin-top: -5rem;
        z-index: 2;
    }

    .astromurtaza img {
        grid-area: img;
        width: max-content;
    }

    .title {
        grid-area: title;
        width: min-content;
    }
    
}

.space-exploration {
    position: absolute;
    top: 0;
    z-index: -1;
}

.space-exploration-desktop {
    display: none;
}

@media(min-width: 750px) {
    .space-exploration-desktop {
        display: block;
        position: absolute;
        width: 65%;
        align-self: center;
        /* margin-left: auto; */
        padding-left: 22%;
        top: 4rem;
        right: auto;
        left: auto;
        z-index: -1;
        max-height: 650px;
        object-fit: contain;
    }
    
    .space-exploration {
        display: none;
    }
}

.landing {
    background-image: url('../patterns/');
}

.astromurtaza {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: pink; */
}

.murtaza-bg {
    position: absolute;
    top: 10rem;
    width: 73%;
    margin-left: auto;
    z-index: -2;
    filter: opacity(.8);
}

@media (min-width: 750px) {
    .murtaza-bg {
        top: 15rem;
        right: 8.5rem;
        width: 150%;
        object-fit: contain;
        height: max-content;
    }
}


.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me a {
    color: var(--clr-accent);
    text-decoration: none;
    font-weight: var(--fw-bold);
}

.about-me a:hover {
    opacity: .5;
    text-decoration: underline;
}

.about-me__img {
    box-shadow: var(--bs);
}

/* My skills */

.skills-icon-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4rem;
}

.skill-item {
    aspect-ratio: 1;
    height: 5rem;
}


.skill-item p {
    text-align: center;
    margin-top: 0;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    font-weight: var(--fw-bold);
}

.skill-item p:hover {
    color: var(--clr-dark);
    background-color: var(--clr-accent);
}

.javascript svg {
    margin-left: .7rem;
    height: 5.8rem;
}

.my-skills {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2.4rem;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

svg {
    filter: grayscale(.1);
}

svg:hover,
svg:focus,
svg:active {
    filter: grayscale(0);
    filter: drop-shadow(0 0 0.75rem var(--clr-accent));
    filter: saturate(3);
}

.vr-image {
    position: absolute;
    opacity: 0.4;
    z-index: -2;
    left: auto;
    right: auto;
    align-self: center;
    top: 10rem;
}


@media (min-width: 600px) {
    .skill-item {
        aspect-ratio: 1;
        height: 9rem;
        margin-top: 3rem;
    }

    .javascript svg {
        margin-left: .7rem;
        height: 9rem;
        width: 9rem;
    }
}

.my-works {
    margin-top: 0;
    color: var(--clr-dark);
    text-align: center;
}

.my-works h2 {
    padding: 1.5em 0;
}

.telescope-vector {
    margin-top: -6rem;
    margin-left: auto;
    margin-right: auto;
}

.my-works-items {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    align-items: center;
    margin-top: 2rem;
}

.my-works-items img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.my-works {
    overflow: hidden;
}

.work-item {
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
    aspect-ratio: 1;
    width: 15rem;
    height: 15rem;
    object-fit: contain;
}

.work-item:focus {
    position: relative;
    z-index: 2;
}

.work-item:hover,
.work-item:focus .work-item {
    transform: scale(1.15);
    opacity: .5;
    background-color: #0a0553;
    background-blend-mode: darken;
}


/* footer */

.footer {
    background: var(--clr-dark);
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);

}

.footer a { 
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}
